
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;

}
.form{
    
    width: 400px;
    min-height: 400px;
    padding: 32px;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.form img{
    display: block;
    margin: auto;
}
.form-title{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.form-group{
    height: 48px;
    
    margin: 20px;
    
    position: relative;
    
}
.form-control{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:none;
    border:1px solid #a1a1a1;
    outline:none;
    padding: 16px;
    border-radius:3px;
    z-index: 1;
}
.class-label{
    position: absolute;
    left:13px;
    top:13px;
    color:#a1a1a1;
    background-color:white;
    padding: 0 6px;
    font-size:14px;
    transition: .4s;
}
.form-control:focus+ .class-label{
    top:-12px;
    z-index:10;
    color: blue;
    font-weight: 300px;

}
.form-control:focus{
    border: 2px solid blue;
}
.form-control:not(:focus):valid+label{
    top:-12px;
    z-index:10;

}
.show-label{
    font-size: 14px;
}
.bottom-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.bottom-button a{
    text-decoration: none;
    color:blue;
    font-size: 16px;
    font-weight: 500px;
}
.form-button{
    display: block;
    padding: 12px 32px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.form-button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.16);
    
}
h1{
    margin-left: 30px;
    font-weight: 900;
}
    